.image-container {
  position: relative;
  display: inline-block;
}

/* Position the text on top of the image */
.point_guard {
  display: none;
  position: absolute;
  top: 155px;
  left: 228px;
  color: orange;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: black;
  width: 20px;
  height: 20px;
  align-items: center;
}

.shooting_guard {
  display: none;
  position: absolute;
  top: 214px;
  left: 84px;
  color: orange;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: black;
  width: 20px;
  height: 20px;
  align-items: center;
}

.small_forward {
  display: none;
  position: absolute;
  top: 356px;
  left: 369px;
  color: orange;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: black;
  width: 20px;
  height: 20px;
  align-items: center;
}

.power_forward {
  display: none;
  position: absolute;
  top: 343px;
  left: 131px;
  color: orange;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: black;
  width: 20px;
  height: 20px;
  align-items: center;
}

.center {
  display: none;
  position: absolute;
  top: 286px;
  left: 314px;
  color: orange;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: black;
  width: 20px;
  height: 20px;
  align-items: center;
}

.blink {
  animation: blinker 4s linear infinite;
  font-family: sans-serif;
}
@keyframes blinker {
  50% {
      opacity: 0;
  }
}